<div class="twocolumn-container clearfix">

  <div class="left-column">

    {{ content_for_notifications }}

    <div class="content-{{ request.template  | replace: '_', '-' }}">
      {% yield %}
    </div>

  </div>
  <!-- .left_column -->

  <div class="right-column">

    {% if request.logged_in? %}

    {% include "supporter_nav" %}

    {% else %}

    {% if site.has_button1? %}
    <a class="button supporter-nav-button call-to-red" href="{{ site.button1_page.full_url_with_profile_recruiter }}">{{ site.button1_text }}</a>
    {% endif %}

    {% if site.has_button2? %}
    <a class="button supporter-nav-button call-to-blue" href="{{ site.button2_page.full_url_with_profile_recruiter }}">{{ site.button2_text }}</a>
    {% endif %}

    {% if site.has_button3? %}
    <a class="button supporter-nav-button call-to-red" href="{{ site.button3_page.full_url_with_profile_recruiter }}">{{ site.button3_text }}</a>
    {% endif %}

    <div class="sidebar-widget">
      <h3>Connect</h3>
      <p>You can join us using</p>
      <ul class="supporter-nav sidebar-widget-connect row-fluid">
        <li class="span4"><a href="{{ request.facebook_connect_url }}" class="icon-facebook-rounded"></a></li>
        <li class="span4"><a href="{{ request.twitter_connect_url }}" class="icon-twitter-rounded"></a></li>
        <li class="span4"><a href="/login" class="icon-mail-rounded"></a></li>
      </ul>
    </div>

    <!--<div class="sidebar-widget sidebar-widget-pulse">
      
      <h3>Pulse</h3>
      
      <ul class="sup-list">
        {% for supporter in site.recent_supporters_with_pictures limit:10 %}
        <li>{{ supporter.profile_image }}</li>
        {% endfor %}
      </ul>
      
      {% for supporter in site.recent_supporters_with_pictures limit:1 %}
      <p class="latest">{{ supporter.published_name_linked }} just joined.</p>
      {% endfor %}
      
    </div--><!-- .widget pulse -->

    <div>
      {% if site.has_facebook_page? %}
      <div class="fb-page" data-href="{{ site.broadcaster.facebook_page_profile_url }}" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="{{ site.broadcaster.facebook_page_profile_url }}"><a href="{{ site.broadcaster.facebook_page_profile_url }}">{{ site.broadcaster.facebook_page_username }}</a></blockquote></div></div>

      {% else %}
      <fb:like href="{{ site.full_url }}" colorscheme="{{ site.facebook_colorscheme }}" width="240"></fb:like>
      {% endif %}

      {% if site.has_twitter? %}
      <div class="padtopmore">
        <a href="{{ site.broadcaster.twitter_profile_url }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.broadcaster.twitter_login }} on Twitter</a>
      </div>
      {% endif %}
      {% if page and page.has_rss? %}
      <div class="padtopmore">
        <a href="{{ page.rss_url }}"><i class="icon-rss"></i></a> <a href="{{ page.rss_url }}">Subscribe with RSS</a>
      </div>
      {% elsif page and page.has_parent? and page.parent.has_rss? %}
      <div class="padtopmore">
        <a href="{{ page.parent.rss_url }}"><i class="icon-rss"></i></a>
        <a href="{{ page.parent.rss_url }}">Subscribe with RSS</a>
      </div>
      {% endif %}
    </div>

    {% endif %}

  </div>
  <!-- .right-column -->
</div> <!-- .twocolumn_container -->
