//donation-v2 page
.page-pages-show-donation-v2-wide {
  .card-error-container .card-error {
    padding-top: 5px;
    color: $red;
  }
  span.error-message {
    color: $red;
  }
  .ticket-list {
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0 0 10px;
      li {
        font-size: 25px;
        line-height: 35px;
        font-weight: bold;
      }
    }
  }
  .main.width-container {
    background: transparent;
  }
  .footer-nav {
    display: none;
  }
  .card-error {
    @extend .red;
    padding-top: 5px;
  }
  .form-wrap {
    -webkit-box-shadow: 0px 0px 5px 0px #000;
    -moz-box-shadow: 0px 0px 5px 0px #000;
    box-shadow: 0px 0px 5px 0px #000;
  }
  .intro {
    color: #003e68;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 30px;
  }
  .header-container {
    margin-bottom: 0;
  }
  .onecolumn-container {
    width: 520px;
    background: #fff;
  }
  #content .form-wrap .row-fluid {
    > h4 {
      margin: 35px 0 17px;
      padding-bottom: 10px;
      border-bottom: 2px solid #e7e7e7;
    }
    &:first-of-type h4 {
      margin-top: 0;
    }
  }
  #content h2.single-amount {
    margin: 0;
  }
  .donation-v2-options.single-amount-any-frequency {
    padding-top: 20px;
  }
  .donation-v2-occurence-radio {
    margin-top: 10px;
    input {
      margin: 0 4px;
      position: relative;
      top: 1px;
    }
  }

  .donation-other-input-container {
    position: relative;
    .currency-symbol {
      position: absolute;
      top: 50%;
      left: 8px;
      font-size: 20px;
      transform: translate(0, -50%);
    }
    input {
      padding-left: 20px;
      font-size: 20px;
      height: 54px;
      margin-bottom: 0;
    }
  }
  .radio-inline.donation-v2-amounts {
    > span {
      position: relative;
    }
    input[type="radio"] {
      display: none;
    }
    label.radio {
      @include border-radius(5px);
      background-color: #c6c6c6;
      color: #fff;
      text-shadow: none;
      padding: .5em .1em .625em .1em;
      font-family: $swap-font;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      display: block;
      margin: 0;
      width: 100%;
      &:hover {
        background: $bg-nav-link-active;
        color: $nav-link-color;
      }
      &:active {
        background: $bg-nav-link-active;
        color: $nav-link-color;
      }
    }
    input[type="radio"]:checked+label {
      background-color: $bg-nav-link-active;
      color: $nav-link-color;
    }
  }
  .donation-v2-options label {
    display: inline;
  }
  .submit-container {
    margin-top: 50px;
    @include border-radius(2px);
    text-align: center;
    padding: 50px 30px 30px;
    border-top: 2px solid #e7e7e7;
    .donation-v2-amount {
      font-size: 40px;
      text-align: center;
      margin-bottom: 25px;
      width: 100%;
      min-height: 46px;
      line-height: initial;
      span {
        opacity: 1;
        display: inline-block;
        .nb_donation_v2_interval {
          font-size: 17px;
          font-weight: normal;
          &.hidden {
            display: none;
            opacity: 0;
          }
        }
        &.hidden {
          opacity: 0;
          display: none;
          + span {
            font-size: 22px;
          }
          ~ .nb_donation_v2_interval {
            display: none;
          }
        }
      }
      .nb_donation_v2_amount {
        margin-left: 4px;
      }
    }
    .submit-button {
      @extend .call-to;
      @extend .call-to-green;
      margin: 20px auto;
    }
  }
}
@media (min-width: 571px) {
  .page-pages-show-donation-v2-wide {
    .donation-v2-amounts::before,
    .donation-v2-amounts::after {
      content: ' ';
      display: table;
      clear: both;
    }
    .radio-inline:not(.donation-v2-occurence-radio) {
      span {
        float: left;
        margin: 0;
        padding: 5px;
        min-width: 25%;
        width: 25%;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-child(4n) {
          padding-right: 0;
        }
        &:nth-child(5n),
        &:first-of-type {
          padding-left: 0;
        }
      }
    }
    .submit-button {
      max-width: 200px;
    }
  }
}
@media (min-width: 767px) {
  .page-pages-show-donation-v2-wide {
    .main.width-container {
      padding-left: 4px;
    }
    .donation-v2-options {
      position: relative;
      .donation-v2-occurence-radio {
        margin-top: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}
@media (max-width: 768px) {
  .page-pages-show-donation-v2-wide {
    .radio-inline.donation-v2-amounts {
      > span {
        position: relative;
        width: 50%;
        float: left;
        &:nth-child(even) {
          padding: 14px 0 0 7px;
        }
        &:nth-child(odd) {
          padding: 14px 7px 0 0;
        }
        &:nth-child(1),
        &:nth-child(2) {
          padding-top: 0;
        }
        label.radio {
          width: 100%;
        }
      }
      + .donation-v2-options {
        clear: left;
        padding-top: 30px;
        .span6 {
          position: relative;
          width: 50%;
          float: left;
          margin: 0;
          &:first-child {
            padding-right: 7px;
          }
          &:last-child {
            padding-left: 7px;
          }
        }
        .donation-v2-occurence-radio {
          padding: 0;
          width: 100%;
          position: static;
          transform: none;
          margin: 0;
          > span {
            position: relative;
            display: inline-block;
            float: left;
            width: 50%;
            &:first-child {
              padding: 0 7px 0 0;
            }
            &:last-child {
              padding: 0 0 0 7px;
            }
          }
          input[type="radio"] {
            display: none;
          }
          label.radio {
            @include border-radius(5px);
            background-color: #c6c6c6;
            color: #fff;
            text-shadow: none;
            padding: 0;
            font-family: $swap-font;
            font-size: 20px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            cursor: pointer;
            outline: none;
            display: block;
            margin: 0;
            width: 100%;
            &:hover {
              background: $bg-nav-link-active;
              color: $nav-link-color;
            }
            &:active {
              background: $bg-nav-link-active;
              color: $nav-link-color;
            }
          }
          input[type="radio"]:checked+label {
            background-color: $bg-nav-link-active;
            color: $nav-link-color;
          }
        }
      }
    }
    .donation-v2-options.single-amount-any-frequency {
      padding-top: 10px;
      label {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
@media (max-width: 570px) {
  .page-pages-show-donation-v2-wide {
    .main.width-container,
    .onecolumn-container {
      width: 100%;
      margin: 0;
    }
    .header-container {
      margin-bottom: 0;
    }
    .radio-inline.donation-v2-amounts + .donation-v2-options .span6 {
      width: 100%;
      &:first-child {
        padding: 0;
      }
      &:last-child {
        padding: 14px 0 0 0;
      }
    }
  }
}
@media (max-width: 420px) {
  .page-pages-show-donation-v2-wide .submit-container span {
    display: inline-block;
  }
}
