// fontello
@font-face {
 font-family: 'responsive';
 src: url("responsive.eot");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'responsive';
 src: url("responsive.eot");
 src: url("responsive.eot?#iefix") format('embedded-opentype'),
   url("responsive.woff") format('woff'),
   url("data:font/opentype;base64, AAEAAAALAIAAAwAwT1MvMuijFrUAAAC8AAAAYGNtYXAQ/osdAAABHAAAA4hnYXNwAAAAEAAABKQAAAAIZ2x5ZkXYTtQAAASsAAAwMGhlYWQBgTzHAAA03AAAADZoaGVhBCICXAAANRQAAAAkaG10eGPuAhQAADU4AAAA7GxvY2Ev6zl0AAA2JAAAAHhtYXhwAEsCqQAANpwAAAAgbmFtZVcZpu4AADa8AAABRXBvc3QAAwAAAAA4BAAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEADggAAAAAAAAAAAAAAAAABAAAD//wHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAAEAAAAAwAAACQAAAAEAAABXAADAAEAAAAkAAMACgAAAVwABAE4AAAASgBAAAUACgABACAALSPzJbQmBSYRJpknDScTJxYnpuYJ5wDnBOcM5xLnGOci50znTude55DnlegB6CvwmPCe8Mnw1vDg8P7xB/ME8wj//f//AAAAAAAgAC0j8yW0JgUmESaZJw0nEicWJ6bmAOcA5wTnDOcS5xjnIudM507nXeeQ55XoAOgr8JjwnvDJ8Nbw4PD+8QfzBPMI//3//wAB/+P/19wS2lLaAtn32XDY/dj52PfYaBoPGRkZFhkPGQoZBRj8GNMY0hjEGJMYjxglF/wPkA+LD2EPVQ9MDy8PJw0rDSgAAwABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAACLAAAAAAAAAAtAAAAAAAAAAEAAAABAAAAIAAAACAAAAADAAAALQAAAC0AAAAEAAAj8wAAI/MAAAAFAAAltAAAJbQAAAAGAAAmBQAAJgUAAAAHAAAmEQAAJhEAAAAIAAAmmQAAJpkAAAAJAAAnDQAAJw0AAAAKAAAnEgAAJxMAAAALAAAnFgAAJxYAAAANAAAnpgAAJ6YAAAAOAADmAAAA5gkAAAAPAADnAAAA5wAAAAAZAADnBAAA5wQAAAAaAADnDAAA5wwAAAAbAADnEgAA5xIAAAAcAADnGAAA5xgAAAAdAADnIgAA5yIAAAAeAADnTAAA50wAAAAfAADnTgAA504AAAAgAADnXQAA514AAAAhAADnkAAA55AAAAAjAADnlQAA55UAAAAkAADoAAAA6AEAAAAlAADoKwAA6CsAAAAnAADwmAAA8JgAAAAoAADwngAA8J4AAAApAADwyQAA8MkAAAAqAADw1gAA8NYAAAArAADw4AAA8OAAAAAsAADw/gAA8P4AAAAtAADxBwAA8QcAAAAuAADzBAAA8wQAAAAvAADzCAAA8wgAAAAwAAHzDgAB8w4AAAAxAAHzxgAB88YAAAAyAAH0TQAB9E0AAAAzAAH0swAB9LMAAAA0AAH0xQAB9MUAAAA1AAH0ywAB9MsAAAA2AAH04wAB9OMAAAA3AAH05gAB9OYAAAA4AAH08AAB9PAAAAA5AAH1DQAB9Q0AAAA6AAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAJAK0BiQEtAAQAADc1IRUhCQGA/oCtgIAAAAMACP/gASYB4AAsADkAfwAAAQYHBhUUFxYXFh0BFAcGIyInJj0BNDc2NzY1NCcmJyY9ATQ3NjMyFxYdARQHJwYXFjMyNzYnJiMiBxc0NzY/ATY1NwYjIicXFBcWFxYfARYXFhcWFxYjJhcWBxQjFAcGDwMGHQE2NzY3NjU0MzIVFBcWFxYXNTQvAiYnJjUBDhoYGRkZGRgsKzg4KywYGRkZGRgaGCwtNjYtLBjoAgQvQEMuBxAxNj0rdAwKEA8vATQ+PjQCLwEKCgIJAQICBAQBAgEDBAgBAgQJAQYQES8CIB4REg0NEREfIQIvDxEIBwYBOh0WFxAPGBcbGhc9ERQUFBQRPRcaGxcYDxAXFh0bFj0QFBQUFBA9FhtjAwQaGQYKGxvFEw8NDw8vDxocHBoQLgIJCgEKAQMCBAUDAwEHDwIBDAcQAQgPES4QIgELCQ0MERAQEQwMCgoCIg8vDxAJDAoOAAAAAAEACAB6APMBRgADAAA/ARcnCHZ16nrNzQEAAAABAAgAEgHjAdcAJAAAEzQ/AjYzMh8CFhUUDwEXFBcUFRQjIi8BBwYjIjU0NTcnJjUIEI9ABggJBkCPEAdoGAEMBQaBgAYGCxloBwEnCwIVggwMghUCCwYIZY4BAgICDQNDQwMNBAOOZQkFAAACAAgAKQHjAbwANgBRAAA3IicmPQE0NzY7ATIXFhcWDwEGIyIjJisBIgcGHQEUFxY7ATI3Nj0BND8BNjMyFxYdARQHBisBJzQ/ATYzMh8BNzYzMh8BFhUUDwEGIyIvASY1WiIYGBgYIu4REAQBAQMOAwQBAgcF7hMNDg4NE+4TDQ0DEgMEBAMCGBkh7gkHHwcKCQdLuQcJCgYgBwfpBwkJB3sHKRkYIu0iGBkIAgQFAw8CAg4NE+0TDg0NDhNIBAISAwIDBFoiGBnbCgcfBwdLuQcHHwcKCQfoCAh6CAgAAAIACAAEAb4BvABqAHsAABM0NzYzNzY3JicmNTQ3Njc2MzIfATY3Njc2OwEyHwEWFzc2MzIXFhcWFRQHBgcGBxYfARYdARQHBiMHBgcWFxYVFAcGBwYjIi8BBgcGBwYrASIvASYnBwYjIicmJyY1NDc2NzY3Ji8BJj0BFxQXFjMyNzY1NCcmIyIHBhUIAgIDNgMIDRIDAwYVFQcFAycIEgQEAwg/CQEIEQkpAgQFAiUKAwMCDQwDBwU0CAICAzUGBQoUAwIHFRUHAwQnCBIFBAIIPwoBCBEIKQMEBAMiDQICAwwMAwgENAiSFhYdHhYVFRYeHRYWAQAEAwMJChASFQMEAgUJFRUDHwUGJRAJCTUFBR4DAyIOAwQEAgQQEAQNDgkBCT8EAwMJDwsPGAMEAwQIFRYDHwUGKA0JCTUFBR4DAx4SAwQDAwQQEAQQDAgBCT8gHhUWFRYeHhYVFhUeAAAFAAgAKQIGAbwANAA6AEIATwBbAAA3IicmPQE0NzY7ATIXFhcWDwEGIyInJisBIgcGHQEUFxY7ATI3Nj0BND8BNhcWHQEUBwYrAT8BFwcjNRcVMzcnBxUzPwE2JyYjJg8BBhcWNz8BNjMyHwEWFRQPAVoiGBgYGCLuERAEAQEDDgMDBAUFAu4TDQ4ODRPuEw0NAxIFBQYYGSHuZMBTwFM3ESArIRsqZAMBAQMEA2QFBQQFchoICwwIKwkJGikZGCLtIhgZCAIEBQMPAgEBDg0T7RMODQ0OEyMEAxIFAwIGNiIYGZvAUsBSGxshKyEQRWQDBAQBA2QFBAUFqRoICCsIDAsIGwAAAAABABD/4gFqAeAAQAAAFwYnJjc2NyY3FhcWNzYnJicmNzY3NjcGBwYXMjc2NzYXFhcWBwYHBgcGBwYXFjcGBwYHBhUGFxY3BgcGBwYHBgcmAwoJAQIXMxkMGwsFBAQEAQIODRwgFg0EChIGJSUSFyMjBwYGBg4XNDQHCA8cPh0pJx0bAhsbGRAREQoJHiQIGgoGBA01P09TKCkRAgIoLSgtJBgYGgoZGDUDPj0BAhEREAwdHA4XCQkDBQ0YDigSEQMCAwsQEAgcDw4DBAIDAQAAAQAIAC0BwwGBABoAADc0PwE2MzIfATc2MzIfARYVFA8BBiMiLwEmNQgIJwgLCwhUvAgLCwgnCQn1CAwLCI4I1wsIJwgIVLwICCcJCwsI9ggIjgkLAAAAAAIACAAEAb4BvAAYAEUAADc0NzY3NjMyFxYXFhUUBwYHBiMiJyYnJjUXFB8BFjMyPwEXFjMyPwE2NTQvATc2NTQvASYjIg8BJyYjIg8BBhUUHwEHBhUIHh8wMzs/MjEcHR4fMDM7PzEyHB1uBhoFBwgGMzQGBwcGGgUFNDQFBRoGBwcGNDMGCAcFGgYGNDQG4D8xMhweHx8wMzs/MTIcHh8fMDM7QQcGGQYGMzMGBhkFCAgFNDQFCAgFGQYGMzMGBhkGBwgFNDQFCAAAAAEACQBGAfABxgAWAAA3NTQ3Njc2NzY3Njc2OwE1Fwc1JiMiBwknJ0kGDQ4CCxobBALn5xkflDRGGkU2OSgDBgYBBQcIZrOzZgiIAAACABEALQCZAYIABAAJAAA3ETMRIzczESMREYiIEWZmLQFV/qsRATP+zQAAAAIAAP/gAkAB4AAvAGoAABMxMhYXHgEVFAYHDgEjKgEjIiYnDgEHDgEHNT4BNz4BNTQmNS4BJy4BNTQ2Nz4BMwEUFhceARcVIiYnLgEnDgEjIiYnLgEnMjY3PgE3PgE3PgE3PgE3PgE1PAEnHgEXHgEVFAYHDgEHBhQV8DJXISAmJiAhVzIFCQUFCQQUKRYVLRYMFQgICQEUIQwLDSYgIVcyAQIHBgYRChMlEhIjEQcRCBIiEBAeDRs1GBksFAkSCAcNBgYIAwMDAQ4WBwgICwoKHBIBAeAfGhpHKChHGxoeAQETGAcGBQENBREKChYMBAcDDSITEysXKEcaGh/+TQsTCQgOBQsFBQYVEAEBBQQFDAkICQgYEAgRCQkUCwsWDAwYDAQHBAsaDw8gEBQlEBEcDAMFAwAAAAUAAP/gAgAB4AAYACIALAA4AEIAAAEiBgcOARUUFhceATMyNjc+ATU0JicuASMHITIWFwcnPgEzBzU8ATEXBzQmNQUhIiYjNxc3FyIGIzcUBhUnNzAUHQEBADVdIyMoKCMjXTU1XSMjKCgjI101gAEAAwcDjY0DBwMgXl0BASD/AAIEAlstLVsCBAIgAV1eAeAoIyNdNTVdIyMoKCMjXTU1XSMjKIABAqSkAgHgwAEBbV0CBAIgAVs1NVsBIAIEAl1tAQHAAAAAAQCA/+ABbwHgABoAAAUjESM1MzU0Njc+ATsBFSMiBgcOAR0BMwcjEQEgYEBACQsMKCBHLA0OAwMCTwlGIAEAWDQbKw8PEFgFBAUNCSxY/wAAAAAAAQAA/+ICAAHgADEAAAEyFhceARUUBgcOAQc1MzcjNTQ2Nz4BOwE1IyIGBw4BHQEjFTMVLgEnLgE1NDY3PgEzAQA1XSMjKCIfHlIvWAhgBQQFCwdAQBQjDQ0PMDAvUh4fIigjI101AeAoIyNdNTFXIiIsBr5AIAcLBQQFQA8NDSMUIEC+BiwiIlcxNV0jIygAAQAAABACAAGwAGwAAAEOAQcOAQc+ATc+ATcOAQcOAQcuAScuASMiBgcOARUUFhcuAScuAScOAQcOARUUFhceARciJicuAScUMBUUFhceARcOASMiJiceARceATMOAQcOASMqASceARceATMyNjc+ATU8ATU+ATc+ATcCAAcPBwgPCAgOBgYJAwgQCAgSCQcRCgoVDBUnDg4RAgEhPRscMBMEBQICAgcGBhIKBg0GBgsFDAwLHxIHDgcFCgUFEw0NHxIOHhEQIxMGDQYRJhUUKxZIcCYmJwcPBgcMBQF/AwYCAgMBBQ0HBxEJBAgDAwUCCAwEBAUQDw4mFgYMBgIRDg4nGAYNBgcOBw4ZCwwSBwIBAgUDAQETIg4NEwQBAgEBEBsJCgsLEQUGBgELEgYGBjYrK2s0AwcDBgwHBw8IAAACAAD/4AIAAeAAGACFAAABIgYHDgEVFBYXHgEzMjY3PgE1NCYnLgEjFxwBFRQGBw4BIyImJy4BJxYyMzI2Nz4BNyImJy4BJxYyMzI2Ny4BJy4BNTgBNR4BFx4BMy4BJy4BNTQ2Nz4BNx4BFx4BFy4BNTQ2Nz4BMzIWFx4BFz4BNz4BNw4BBw4BBzI2Nz4BNw4BBw4BBwEANV0jIygoIyNdNTVdIyMoKCMjXTWTHBscUDUQHw4PGw0ECgQNGgwMFgkMFwkJDgQEBwQFCgUNFwgICQQIBAUJBAcNBAUFAgEBBAMOIhQULRcBAQwKCxsQCBAHBwwGBg0GBgsGAgcEBAsGBgsGBQsFBAgFBQoGAeAoIyNdNTVdIyMoKCMjXTU1XSMjKLUCBQImTR8fJwQFBA0IAQQEBA0HCAcHFAsBAQEDDQoKGQ4BAwMBAQIFDggIEgoGCgQFCQQRHAoLDAEECQQQHAoKDAMDAwkGAgMDAgYDBwwFBgkDAwECAwMGCwUFCQQAAAAABgAA/+ACAAHgAAYAHwBtAI4AlQC1AAA3PAE1HAEVNzI2Nz4BJy4BJy4BJyIGBw4BFx4BFx4BFyU1NCYnLgEjISIGBw4BBz4BNz4BMzoBMQcjHgEXHgEVFAYHDgEHDgEHDgEVFBYXHgEXHgEXHgEVFAYHMzI2Nz4BNREjFSM1IzUzNTMVMwU6ATMuAScuATU0Njc+ATcGIiMiJicuAScdAT4BNz4BMwcmNCcWFBcXLgEnLgEnLgEjLgEjJgYHDgEHHgEXHgE7ATQ2NTQmJwB2ERwKCQgDAxIODSERERwKCQgDAxMNDSERAYoNDAwfEf6qER8LDA0BCxoODh8PIpEoOA4VBwgHBwcHEgsLDgMEAwsHBxAGEhgHCAYCAZoRHwwMDWAgYGAgYP5dCA8IBQkDBAMBAQEEAgQJBA4aCwwUCQoWDAsZDVsBAQEB4gMNCQkYDgUKBgYLBhEgDg4YCQMPCwscD5ABAQEtAQIBAQIBmBAPDicXFycPDxEBDw4PJhcXKA8PEgGbKxEfDAwNDQsMHhEKEQYHByIFFQ4NIRAPGgsMFQgJDQUGCwcHDwgIDgQMGQ4OHxQGDAYNDAwfEQELYGAgYGD/BQsGBw0IBAkEBAgEAQUEBAwHIWUECAMCAz0CBQICBQIgCxEICBAJAgMBAQEHBQYRCg4ZCQoKBAkEBQkFAAAABAAA/+ACAAHgABwAIQA6AFsAAAEhIgYHDgEVERQWFx4BMyEyNjc+ATURNCYnLgEjAyM1MxUDIiYnLgE1NDY3PgEzMhYXHgEVFAYHDgEjASM1NCYnLgEjIgYHDgEdASM1MxU+ATc+ATMyFhceAR0BAar+rBIfDAsODgsMHxIBVBIfDAsODgsMHxLqQEAgBwsFBAUFBAULBwcLBQQFBQQFCwcBAEAFBAULBwcLBQQFQEAFDAcIEAgPGgoKCwHgDgsMHxL+rBIfDAsODgsMHxIBVBIfDAsO/mDg4AEABQQFCwcHCwUEBQUEBQsHBwsFBAX/AIAHCwUEBQUEBQsHgOAoBw4GBgcNCgsdEZAAAAIAAP/gAgAB4AAPABQAAAEHFwcjFwcVMzcXNTcXNycDJzcXBwEQMDBwcFiIFLRYgDAw8DAgcCBwAeAwMIBYtBSIWHBwMDDw/vAgcCBwAAAAAgAI//oCCAHGADEAPgAAJRUhNTY3Njc2NTQnJicmJyYnND8BJicmNzY3NjMyFxYPARYVBgcGBwYHBhUUFxYXFhU3MxUjFSM1IzUzNTMVAaH+ZxUVMBISDAwEAQsLAggCAQEHAwMRGDo6GBcCBwkCCQsBBQwMExIwXBpNTTNNTTMwNmcIBRISEh4MDQ4YBQgGGRADAgMHGxYWFh0dHhwtBBEcAwILGA4OCx4SEhIhHco0TEw0TEwAAAMACAAEAb4BvAAYAE8AZAAANzQ3Njc2MzIXFhcWFRQHBgcGIyInJicmNTcUOwEyNzY1NDc2MzIXFhUUBwYHBgcGHQEUMzIXFjcyFzMyNzQ3Njc2NzY1NCcmJyYjIgcGHQEXFBcWOwEyNzY9ATQnJisBIgcGHQEIHh8wMzs/MjEcHR4fMDM7PzEyHB1tCTcEAwIECxYMDAwZDwgICAkBAQECAQICNgkBDhYICQkLEREYGRs8IRFJAwMENgQDAwMDBDYEAwPgPzEyHB4fHzAzOz8xMhweHx8wMzswDAMDBAMEFAYHCRANCAUFDAwQCAYCAwEBCgwHDAcIDxIVHBUVCwoqFhsHuQQDAgIDBDcDAwMDAwM3AAIACAAKAbgBvAAZACoAABM0NzY7ATIXFh8BFhUUDwEGIyIvASYnJj0BFxQXFjMyNzY1NCcmIyIHBhUICwsOdxESEgrMCgqMCw8PC8wKCAg2CwsPDwsLCwsPDwsLAZcPCwsICArNCw4QCo0LC80JEhMQdzcPCwoKCw8PCwoKCw8AAQAJAEYB8AHGABEAABM3FzMyFxYXFhcWBxcmIyIPAQnmAQEQHikQSyUoAQE1lB8YAQETs2YMDQsqNzVGGogIZgAAAAABAAgALQGhAZMAFwAAATIXFh0BFAcGKwEVJyMiJyY9ATQ3NjMhAW4WDg8PDxVmZ2YVDw8PDxUBMwGTDw4WsxUPD01NDw8VsxUPDwAABgAIABMCCAGtABQAGQAeACMAKAA/AAABMhcWFREUBwYjISInJjURNDc2MyEVIREhEQcjNTMVNSM1MxU1IzUzFR8BIzQzNjU0JyY1NDMyFRQHBhUUFxYXAdQWDw8PEBX+ZxUPDw8PFQGZ/mcBmeaAgICAgICxAoADKw0OLi4ODwsKDAGtDw8V/swVDw8QDxQBNBUPDzP+zAE0/S4uTC8vTS4udSQkCxYIFRQZODgZFBUICggIAwAAAAMACQATAbwBxgAUABkALwAANyInJj0BNDc2OwEyFxYdARQHBisBNzUjFTMDNTQ3NjMhMhcWFREUBwYjNTMRIRUjPBQPEBAPFOcUDxAQDxTn5+fnzQ8QFAEAFQ8PGRccGf8AMxMQDxTnFBAPDxAU5xQPEDPn5wE0GRUPDw8PFf8AJAcIMwEAGQAFAAgAEwIIAa0AFAAjADIANwA8AAABMhcWFREUBwYjISInJjURNDc2MyEFIgcGFRQXFjMyNTQnJiMHFBcWMzI1NCcmIyIHBhUFIRUhNT0BIRUhAdQVEA8PDxb+ZxUPDw8PFQGZ/qkHBgYGBQgUBgUJRgUGCBQGBggHBgYBn/5lAZv+ywE1Aa0PDxX+zBUPDw8PFQE0FA8QMAYFCAgGBRMIBgUTCAYFEwgGBQYFCDjs7CkfHwABAAgATACtAXYAEwAAEzY3FhcWDwEXFgcGJwYvASY3JjeEBw0NCBQUX18UFAgNCwlzCQEBCQFtCAEBCBMWZWIYEQkBAQl4CQoNBwAAAQARAEwAtgF2ABQAABMXFhUUDwEGIyInJj8BJyY3NjMyFzp0CAh0CA0MCBMTX18TEwgNDQcBbXkIDAsIeQgIEhdjZBcSCQkACAAIACkCCAG8ABQAKQA+AE8AZAB5AIoAnwAANyInJjURNDc2MyEyFxYVERQHBiMhJxQXFjMhMjc2PQE0JyYjISIHBh0BNyInJj0BNDc2OwEyFxYdARQHBisBNSI9ATQ3NjsBMhcWHQEUKwE1IicmPQE0NzY7ATIXFh0BFAcGKwEXIicmPQE0NzYzITIXFh0BFAcGIyE1Ij0BNDc2MyEyFxYdARQjISc1NDc2MyEyFxYdARQHBiMhIicmNTUTDQ0NDRMBpRMNDg4NE/5bCQMCBAGlBAMCAgME/lsEAgMuBAMCAgMEEgQCAwMCBBIJAgMEEgQCAwkSBAMCAgMEEgQCAwMCBBJJAwMDAwMDARIEAwICAwT+7gkDAwMBEgQDAgn+7gkDAwMBEgQDAgIDBP7uAwMDKQ4NEwE3Ew0ODg0T/skTDQ4uBAMCAgME7QQDAwMDBO0bAwMEEgMDAwMDAxIEAwNKCBMEAgMDAgQTCEgDAwQSBAIDAwIEEgQDA5IDAwQSAwMDAwMDEgQDA0oIEwQCAwMCBBMIUhIEAgMDAgQSBAMDAwMEAAAAAAMACQASAdIB2wAaADUAUAAAJRUHFRQHBicGJyY9ASc1NxE0NzYXNhcWFREXNxUnERQHBgcmJyY1EQc1FzU0NzY3FhcWHQE3BRUHFRQHBicGJyY9ASc1NzU0NzYXNhcWHQEXASccCQkLDAgJHBwJCAwMCAkcqxwICQwMCAgdHQgIDAwJCBz+qRwICAwMCQgdHQgIDQwICBy+OQFUDAgKAQEKBw1UATkBAQAOBgkBAQkHDf8AAaw6Af7+CgoIAQEICQsBAgE6AVcMCAcBAQcJC1cBOjgBxwwICgEBCgcNxwE4AY4OBgkBAQkHDY4BAAAAAAIACP//AggBwQAyAGIAAAU1NCcmJzY1NCcmJyYnJjU0NyY3Njc2MzIXFg8BFhUUBwYHBgcGFRQXFhcWFxYXFhcVIycWHQEhNTQ3Njc2NTQnJicmJyYnND8BLwEmNzYzMhcWDwEWFQYHBhUGBwYVFBcWFwGVDxE+FAYHAwEGBwYFAQEKDiMjDg8DBAYHBgEDBwYLCh06CQMBAgFzh13+nSslEA4JCgMBCAgDBQICAwITFC0uExQDBQcCCAkDCgoPDyYBTRsODx8PHAgICRIEBAQRDQMUEREQFRUUFB4DDREEBAQSCQgIFgwNDBgRAxwkEBiGKBhGXhYSDxIQHQoMDBcFBgYXDQUBGBIaGxsbGxoqBA8XBgYFFwwMCh0QEg8AAAQACP/6AdQBxgAcACEAJgArAAABMhcWFREUBwYjISInJjURNDc2OwEVMzUzFTM1MxUhFSE1JSM1MxU3FSM1MwGhFg8ODw8V/poVDw8PDxUXUpVSFv6aAWb+7CQk5iQkAZMPDhb+zRUPDw8PFQEzFQ8PMzMzM5nNzXVXV1dXVwAABAAJ//oBVgHGAAwAGAAjACwAABMzMhcWHQEjNTQ3NjMHMxUUBwYjIicmPQEHMwMjNTQ3Njc2MzMyFxYXFh0BI3CACQgIswgIChqzGholJhoaGsCuRQUEDAwS5xENDAQF4gHGCAcKGhoKBwhMDSYaGhoaJg2A/wCZFhYXEhITEhYWFpkAAgAIAAQBvgG8ABQAXQAANyInJjURNDc2MyEyFxYVERQHBiMhAxQXFhcWFxYXFh8CFhcWMzI3NjU0NSYnJi8BJicmJyYjIgcGBwYjIicmJyY1NDc2NzY3Njc2NTY1NCcmJyY1Ji8BJiMiBwYVWiIYGBgYIgESIhgYGBgi/u4JAgIFBAERLS4tDQ0FCAgIERQhAQoJEQ4BBQQDAwMFCQYKCAQHCzceCAEBAwMBAgQDEwIBAwMLCAcHAyQPCgQZGCIBEiIYGRkYIv7uIhgZASgKCQgNDAIvLS4QBQQCAgEJECQEAQIGBggIAQMCAgIJBwwJBx82DQUCAwICAwICAgIBDQkDAwQDBAEUDwwFIRQRAAADAAgAKQGaAbwAEAAsAFAAADc0NzYzMhcWFRQHBiMiJyY1NTQ3NjsBFhcWFxQHBisBIicmNSYnJicmJyY9AT0BNDc2OwEWFxYXFhcWFxYHBisBIicmJyYnJicmJyYnJicmNQgQEBYXEBAQEBcWEBAFBQgCX0JCCQUGCCYHBQYGLy5CBwUEBQUIAU9ERDIzHyAEAQYGBykHBgUBAxoaJyg3Nz8IBAVgFxAQEBAXFxAQEBAXtwcGBQhDQl8JBQYFBAhBLy4GAQUFBydpKQgFBgQgIDMyQ0RQCAUGBQUHQDc3JygaGgMBBQUHAAAAAAMACAApAb4BlwAUACkAPgAANyInJj0BNDc2MyEyFxYdARQHBiMhNSInJj0BNDc2MyEyFxYdARQHBiMhJzU0NzYzITIXFh0BFAcGIyEiJyY1GgcGBQUGBwGSBwYFBQYH/m4HBgUFBgcBkgcGBQUGB/5uEgUGBwGSBwYFBQYH/m4HBgUpBgUIJAcGBQUGByQIBQaTBQUIJAgFBQUFCCQIBQWkJAgFBgYFCCQHBgUFBgcABAAIACkCLAGXABQAKQA+AEsAADciJyY1ETQ3NjMhMhcWFREUBwYjITcyFxYVITQ3NjM1IicmNSEUBwYjFTc0NzY3NjMyFxYVFAcGIyInJicmNTcXNjczFSMVMzUjNSMaBwYFBQYHAgAHBgUFBgf+ABIeFRYBSRYVHx8VFv63FhUekhgKEhIWKxkXFxkrFhISChgjFg0DASVuJSApBgUIAUgIBQYGBQj+uAgFBm4WFh0dFhaSFhYdHRYWkkkqJRELDCglKiolKAwLESUqKxcLBVIbG4AAAAAAAgAIAAQCCAGXACQAQQAANyInJj0BFhcWFxYfAhYfARYXFjsBMjc2NzY/ATY3FRQHBiMhAzQ3NjMhMhcWFRQPAwYHBisBIicmLwEmJyY1NRMNDQwQeBcDBgkHBAQJBQYQDwEOERELDQ2OEQwODRP+Wy0MDBUBpRMNDjFBMh8VCRMMAREcDw2FERAQBA4NE+MPClIQAwQHBQMBBQIDBwcHBwkKYgwN4xMNDgFfFw4PDg0TLCIuIRYQBQoTCgpdDBQVEwAAAAIACAAEAb4BvAAUAEEAADciJyY1ETQ3NjMhMhcWFREUBwYjIScUFxY7ARUUFxY7ATI3Nj0BMzI3Nj0BNCcmKwE1NCcmKwEiBwYdASMiBwYdAVoiGBgYGCIBEiIYGBgYIv7uCQYFB1sGBgckBwYGWwcGBQUGB1sGBgckBwYGWwcFBgQZGCIBEiIYGRkYIv7uIhgZyggFBVwHBgUFBgdcBQUIJAgFBVwHBgUFBgdcBQUIJAAAAAEACAB/ASUBJgAaAAATND8BNjcWHwE3NjcWHwEWFRQPAQYnBi8BJjUIAw4DAwQDcHEDAwMDDwMDhQMEBAKFAwEOBAIQAgEBAnJyAgEBAhACBAMEhAQBAQSEBAMAAgAIAAQBvgG8ABQAXAAANyInJjURNDc2MyEyFxYVERQHBiMhJxQXFhcWMzI3Njc2PQE2NzY1NCcmIwc2NTQnJiMiBwYHJiMiBwYXFSYnJicmIyIHBhUUFwYVFBcGHQIWFwYjIiciIyIHBhVaIhgYGBgiARIiGBgYGCL+7gkEEBkZGScgLRsbBwoKAwIEBAYDAwQBAxELExkcExMBIRYWFgMFBwQFCAgXAwkeFxkBBQYBBAMCBBkYIgESIhgZGRgi/u4iGBmABQINCAgQFSsrOQMHCwsHAwMDAQoGBAIDAgkDEhUUHAQEDw4aAw4OCxMPAQghFAMFAQEfDQwBAwIEAAEACAAEAb4BvAA+AAA3ETQ3NjMhMhcWFREUBwYrAT0BMzI1NzQnJisBNTQ3NjMyFxY3NjU3NicmIyIdASMiBwYdARQ7ARUXIyInJjUIGBgiARIiGBgYGCJkMgoDAwIFNQMDDQ8SBAMEBwEIGx5ZGwMDAwkbA14iGBhXARIiGBkZGCL+7iIYGQG/By8EAwMVDQQDBAECAwQwCAIHVRkCAwQyBb8BGRgiAAgACAAEAb4BvAAYAiUCLgI4Aj8ClwKfAqYAADc0NzY3NjMyFxYXFhUUBwYHBiMiJyYnJjU3FhUWNxYHNhcWBzUwNSInBhcWMyIdAgYXFjcGMwYXFhcWFxQXFgcjFBcWFRQVFhUWMzYnJicmNRYVBhcWFxYfAQcWFRQXFBcWMxYXMhcWFxY3NhcWFxY3FBcWFxYXNjcWMzI1NjU3NjEmBwYnJjMyMzQnJjU0JzQxNCcmJwYnJicWDwEjMTY1NDM2BwYHBgcGJyInJicmNTQ3NjU0Jzc2OwE2JzMyMzIxMxY3JyY3FjcUFxYxFjMyNxYXFhcWMxYzMjUnJjU2PwE2JxY3JzYnNjc2NxYzMjc2JzQ3NjUWPQE0MzQ3NjE3NjEyNzYnNicmJzMyMTYnJgcGIzYnFjc2MzI3MzYXNjc2MTcGJyYnBzQjNCsBByIjJi8BMjUmJzQnIiM1JicmMSIHBgcGByYHIiM2JyYjNicXMzQnJicmIyYjIhUUFRYHBhcWFxYVFgcGBwYHBh0BMj0BFBcWMxQXFAcGDwEGJzQnNCcmMSYnNCcmIyIHNCcmBzInJgcmNzY3NjM0MzY3NjUmIxY3NiczFzYnNjMyFxYzMjc2JzI1JjUmJyYrASIrAQYxFRQzFzMHFBUGBzAnJicmNSYjIgc0JyYjNicxIgcUFzEyFRcnFDMWMzIXFhcWIyIHBiMGBwYXFgc0JyYnJjEGIyInMAcGJyInMSMzNicyNSciBxYXJgcUIyYVFBcVJiMGBzcwMzIzIiMiMTciByM0JzAzFjMxNjMyFSYjExQHFRQXFgcUBwYVJwYXFjMUBxciFzY3IzM3JiM2JyYjNCcmIzAjBiMGBwYxJiMiJyYjJgciFQYxIjc0NzQ1NCciBwYHBgcGBycmMQY1FhciMTQxBhcWMTcGIzEmMRQzMTY3FAcmMQgeHzAzOz8yMRwdHh8wMzs/MTIcHTgBAQMDAgEJEAkDAwECAQIEAQMDBAEDAQcMAwEDBAMBAQUFAQEBAQgGAQEHAQQEBAICBAEPAQMCAgEEAQUFBQUECAQFAgsGBwEFBAECAQQDAgEBAgIBCgYBAgMBAQEBAwMBAQQDAgEBAQQDAQYKBgMBAgMGBgMCAwMBAQIDAwIBAwMDAgMCBwUCAQEBAQgFBQUBAQEBAgICAgEBAgEBBgEFCwcCAgEGAwIBAgEBAgICAQEBBgYDAQQEBQEGAwMFAQICAgMDBQYJCQMBBAMCBQUBAQEBFQYEBgYBBAECAQEBAQICAQECBAQCAQEBAQIBAgIBAQEBAQEEAwMCBgYDAgcIAQIDAgQDAQULBgUFAgEBAwMCAgIDBAEBAQEBAQEBAQMEAQEBAgIBAQIBBAQBDwQMAgICBAMEAQEBAQQCAQEBAg4DAgEBAQMBBAMBAgIBBQECBQMBAQEBAgIBAQMBAQEBAQgDAQEBAQEBBAEEBAMFCAEMAQEBAgIBAgMBAgECAgECAgEBAQEBAQIBAQEBAwEBBwQDAQMGAQECAQIBAQYBAwYBBAUCCAExHpIBAQEBAQESAQEBAgICAQICAgEFLwEBAQIBAgEKAgICAwEGAzkrAQICAwYBBQQDBAMCAQEDAgEBBwMCAgMCAgMBAQIBAQECAwMCAgIDBAEBBAEBAQECAUoBAQEDBQIGAeA/MTIcHh8fMDM7PzEyHB4fHzAzO2UBAgIBAgQBBwsEAgECAgQEEAcBBAcGAQYDBwULBAMBBQYCAgMDAwEBAQEBCAwJBQMBAgIBBgcEAQUFAgcNAwMCAgIBAgQDAgICAwYGAQUCAwsBAwQBAQEKBAMCAQECAwQQBQEBAQEBAwMBAwMCBAEBAgECAQ8BAQ0BAQkEAQIBAgIGBgYBBwYCAQYDBAEDBAUDAwEIBQEBAQMCAgYFBAQBCwsCBQQEBgUGAQMDAgMBAgMBAgICAgECAQIBAwIEAQICAwEEAwMCAQEBAwICCQMFAQEEAwEHCAgCAgcBAwIFAwIBAQEEBAECAQEBAwEDAwEBAgIBAgUCAgECBgECAQIBAQQCAQEKAwIBAgICAQMCAgICAQEDAwEBAgECAQEBAQEBAgEBAgECAQICBAQBAgECBgIBBQUCCQUBAgIBAQEBAQIBBgMBAQEEAgECBAQCAgIBAQEBAQEBAQEBAQQDAgICAgECBQMCAgUEAgIBAQIDAgEBAgECAQEBAQICBAEBAgICAwEBAQEBAQUCAQEDAQUCAgEBAgEDAgYYLzUJAQEBAQECAf7aAQMDAQIFBAEDAgEBDAYCAgYBBAoqAgMDBQQCAgIBAQEBBgICAQMEBAICAgICAgEBAgICAQIJAgIBAgQBAQEDBOgBAgEEAgEGAQAAAAAEAAj/9AHUAcwANAA8AFUAXQAAATIXFhUUBwYHBgcGBwYdARYXFhUUBwYjIicmNTQ3Njc1NCcmJyYnJicmNTQ3NjsBNjMyFzMHNjcjBgc2NyciBwYHBhUUFxYXFjMyNzY3NjU0JyYnJiMHFhcWFyYnIwHCBwYFKxcODx4oEREjGBgiIDAuIiIYGSMRDyofDg8XKwUGB1gZY2QZVy4YBEEDGSkYphsYGQwJCQwZGBsbGRgMCQkMGBkbwQMYGCkZA0ABnAUFB08uGgsMFBoSEhohBA0MEBMODg4OExAMDQQhGhERHBQMCxouTwcFBTAwbx4uUjUdHoAHBwoJBgcJCwYHBwYLCQcGCQoHBzQuHh4dNVIAAAACAAj/+gGhAcQAIgA5AAABFhcWFwYHBiMiJyY3JzY3Njc2NzY/AzYXFgcGBwYXBhcnMgcGBxcGFxYjIicmJyY3JzY3Njc2MwFPHBwZAQEeIRZKSUsBAQEHDCYRJxsaEQ8NDgcXCQsTFQEBHvwJCRgBAQEcBAYWCw4MEgEBARASDhALARwECAkPJmxsFRYXrwcLDx0LGxIhFBQNEwYnHyAdHQEDBAUIGRyjGhsFBgYPEyB8HxQTBQUABQAIAAQCLAG8ABQAIQAuADMAOAAANyInJjURNDc2MyEyFxYVERQHBiMhJxQXFjMhMjc2PQEhFRMiBwYdASE1NCcmIyETMxUjNRc1MxUjNRMNDQ0NEwHJEw4NDQ4T/jcJAwIEAckEAwP+JAkEAgMB3AMDBP43HElJbW5uBA4NEwFcEw0ODg0T/qQTDQ4uAwMDAwMDrq4BZQMDA0BAAwMD/tskJCQkJAAADwAI/+AB4wHgACwAMQA2ADsAUABVAFoAXwBkAGkAbgCDAIgAjQCSAAAXIicmNRE0NzY7ATU0NzY7ATIXFh0BMzU0NzY7ATIXFh0BMzIXFhURFAcGIyE3NSMVMz0BIxUzPQEjFTMnFBcWOwEyNzY9ATQnJisBIgcGHQETNSMVMz0BIxUzPQEjFTMXNSMVMz0BIxUzPQEjFTMnFBcWOwEyNzY9ATQnJisBIgcGHQETNSMVMz0BIxUzJzM1IxUsDgsLCwsOJQ0OEhMTDQ1uDg0TEhMODSQPCwsLCw/+blJSUlJSUlIJAwMDEwMDAwMDAxMDAwN3W1tbW1tbblxcXFxcXAkCAwQSBAIDAwIEEgQDAm1SUlJSUlJSIAsLDgFuDwsLGxMODQ0OExsbEw4NDQ4TGwsLD/6SDgsLJFNTZVtbblJSiQQDAgIDBFIEAwMDAwRS/qRTU2VbW25SUtNTU2VbW25SUokEAwICAwRSBAMDAwMEUv6kU1NlW1tuUlIAAAAAAgAI/+ABbgHgABYAHgAAFyInJjURNDc2MxczNzIXFhURFAcGIyETIyczNzMXMywPCwoKCw8e4h4PCgsKCw/+4uu4FzcTUhI5IAoLDwGFDgsLTU0LCw7+ew8LCgGaMzMzAAAAAAIACv/7Ab8BxQBBAFYAACUWBwYnJicmJyYHBgcGFxYXFhcWFxYHBgcGJyYnJicmJwcGIwYjBiciJyYnJicmNzY3Njc2NzY3Njc2NzYXFhcWFwc2NTYnJicmJyYHBhUGFxYXFhcWNwG/BRkOERMPEiQkJA4ICAUNCgMKCgIHEhcdEAwMEgMODgoKBwMCBgYDBAUFBhUHCAYFEUAtKxQSDAwBBBYZKiofHQUxBQEGDikVDg8DBQEGDSoXDA8DqT0LBQcJCw8HCAUBCAYOIBcEBwUFEQcJCwQZHiYHAQMNAgQBAgEDAQQMEw4aFwkZHhsaFBsVEyYKCSwvRkc9FwQQFB5FOx8MDwMBFBQiRzocCwsBAAAAAAMACAATAdQBrQAMABkAHgAAATIXFh0BITU0NzYzIQEiJyY1ESERFAcGIyETFTM1IwHFBgUE/jQEBQYBrv6ADwoLAZoLCg/+rlyamgGtBQQHPT0HBAX+ZgsKDwEP/vEPCgsBADMzAAAACgAI//oBoQHGABQAGQAeACMAKAAtADIANwA8AEEAAAEyFxYVERQHBiMhIicmNRE0NzYzIRUhESERAyM1MxU3IzUzFSczFSM1ByM1MxUHIzUzFTczFSM1FyM1MxUnNTMVIwFuFg4PDw8V/s0VDw8PDxUBM/7NATOAgIBNZ2dnZ2cZTU0aMzMagICAzc0zMzMBxg4PFv6aFQ8PDw8VAWYVDw8z/poBZv8AGhpnGRlmMzNmZmY0GhoaGhqAGhozGhoAAgAKAB0BjwGjABwALQAAJSInDwEGIyInJic2PwImJzY3NjMyFxYHFgcGIycWMzI3NjcmJyYjIgcGFwYXAQEzKhlECg0PDAoBAQZDQCEBASksOToqKwEBKio7PRklIhsZAQEZGyIlGRsBARuFI0BDCAwLEA0KQhspNTopKisqOjwpKlEaGhokJBkaGhkkJRkAAQAAAAAAAN14UohfDzz1AAsCAAAAAADQEX4FAAAAANARfgUAAP/gAkAB4AAAAAgAAgAAAAAAAAABAAAB4P/gAAACQAAAAAACQAABAAAAAAAAAAAAAAAAAAAAOwAAAAAAAAAAAAAAAAEAAAABkwAJAS4ACAD7AAgB6wAIAesACAIAAAgCDgAIAXUAEAHKAAgCAAAIAfkACQC7ABECQAAAAgAAAAIAAIACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACEAAIAgAACAHAAAgB+QAJAakACAIQAAgBxQAJAhAACAC+AAgAvgARAhAACAHbAAkCEAAIAdwACAFfAAkCAAAIAaIACAIAAAgCNAAIAhAACAIAAAgBLQAIAgAACAIAAAgCAAAIAdwACAGpAAgCNAAIAesACAF2AAgByAAKAdwACAGpAAgBmAAKAAAAAAAKABQAHgAsAOAA7gEkAZQCRALIAzADXAPCA+gD/gSaBP4FKAVwBhAG0gfUCFoIggjeCWgJqAnKCfAKTAqQCuoLEAs0DAgMgA0QDVANkg4aDpAO6A9UD7YQEBA+EL4REhSGFRAVbBXAFoAWshc8F3AX0BgYAAEAAAA7AqcADwAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAOAAAAAQAAAAAAAgAOAEcAAQAAAAAAAwAOACQAAQAAAAAABAAOAFUAAQAAAAAABQAWAA4AAQAAAAAABgAHADIAAQAAAAAACgA0AGMAAwABBAkAAQAOAAAAAwABBAkAAgAOAEcAAwABBAkAAwAOACQAAwABBAkABAAOAFUAAwABBAkABQAWAA4AAwABBAkABgAOADkAAwABBAkACgA0AGMAaQBjAG8AbQBvAG8AbgBWAGUAcgBzAGkAbwBuACAAMQAuADAAaQBjAG8AbQBvAG8Abmljb21vb24AaQBjAG8AbQBvAG8AbgBSAGUAZwB1AGwAYQByAGkAYwBvAG0AbwBvAG4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=") format('truetype'),
   url("responsive.svg#responsive") format('svg');
 font-weight: normal;
 font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before{
  font-family: 'responsive';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  vertical-align: middle;
}

.icon32 {
  height: 32px;
  width: 32px;
  display: block;
}

// if you want to use images for icons, you can use background-image like this

.xicon-calendar--arrow {
  background-image: url(/assets/icons/fugue/calendar--arrow.png);
}

// font icons used for page and activity types are below



// unsubscribe
.icon-mail--minus:before { content: '\2d'; } /* '-' */

// moneybomb
.icon-bomb:before { content: '\23f3'; } /* '⏳' */

// paid membership
.icon-star:before { content: '\2605'; } /* '★' */

// vote pledge
.icon-tick-octagon-frame:before { content: '\2611'; } /* '☑' */

// settings
.icon-cog:before { content: '\2699'; } /* '⚙' */

// edit page
.icon-edit:before { content: '\270d'; } /* '✍' */

// new blog post
.icon-feather:before { content: '\2712'; } /* '✒' */

// survey
.icon-tick:before { content: '\2713'; } /* '✓' */

// follows
.icon-arrow-curve-000-left:before { content: '\27a6'; } /* '➦' */

// recruiting
.icon-users:before { content: '\e700'; } /* '' */

// faq
.icon-question-octagon-frame:before { content: '\e704'; } /* '' */

// followers
.icon-arrow-curve-180:before { content: '\e712'; } /* '' */

// feedback
.icon-balloon:before { content: '\e718'; } /* '' */

// voter registration
.icon-envelope-label:before { content: '\e722'; } /* '' */

// your pages
.icon-popup:before { content: '\e74c'; } /* '' */

// basic
.icon-application:before { content: '\e74e'; } /* '' */

// left arrow
.icon-left-open:before { content: '\e75d'; } /* '' */

// right arrow
.icon-right-open:before { content: '\e75e'; } /* '' */

// activity stream
.icon-newspaper:before { content: '\e790'; } /* '' */

// control panel
.icon-equalizer:before { content: '\e795'; } /* '' */

// rules
.icon-property:before { content: '\e82b'; } /* '' */

// off canvas nav icon
.icon-menu:before { content: '\f0c9'; } /* '' */

// political capital
.icon-jar:before { content: '\f0d6'; } /* '' */

// signup with email
.icon-user:before { content: '\f0e0'; } /* '' */

.icon-mail-rounded:before { content: '\e602'; } /* '' */

// meetup everywhere
.icon-meetup_16:before { content: '\1f30e'; } /* '' */

// leaderboard
.icon-medal:before { content: '\1f3c6'; } /* '' */

// endorsement
.icon-stamp:before { content: '\1f44d'; } /* '' */

// volunteer signup
.icon-hand:before { content: '\e800'; } /* '' */

// donation
.icon-credit-card-green:before { content: '\1f4b3'; } /* '' */

// calendar
.icon-calendar-list:before { content: '\1f4c5'; } /* '' */

// event
.icon-calendar:before { content: '\e801'; } /* '' */

// petition
.icon-clipboard-task:before { content: '\1f4cb'; } /* '' */

// press release
.icon-megaphone:before { content: '\1f4e3'; } /* '' */

// suggestion box
.icon-box:before { content: '\1f4e6'; } /* '' */

// blog and blog posts
.icon-blogs:before, .icon-blog:before { content: '\1f4f0'; } /* '' */

// find friends
.icon-magnifier:before { content: '\1f50d'; } /* '' */

// rss
.icon-rss:before { content: '\f09e'; } /* '' */

// stop following
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */

// start following
.icon-plus-squared:before { content: '\f0fe'; } /* '' */

// twitter
.icon-twitter-squared:before { content: '\f304'; } /* '' */

.icon-twitter:before { content: '\e605'; }

.icon-twitter-rounded:before { content: '\e606'; }

// facebook
.icon-facebook-squared:before { content: '\f308'; } /* '' */

.icon-facebook:before { content: '\e603'; }

.icon-facebook-rounded:before { content: '\e604'; }

// linkedin
.icon-linkedin:before { content: '\e608' }

// gplus
.icon-gplus:before { content: '\e607' }

// pushpin
.icon-pushpin:before { content: '\e609' }

// phone
.icon-phone-squared:before { content: '\f098'; } /* '' */

// drop down nav arrow
.icon-angle-down:before { content: '\f107'; } /* '' */

// tags
.icon-tag:before { content: '\e70c'; } /* '' */

// up arrow
.icon-up-dir:before { content: '\25b4'; } /* '▴' */

// speech bubbles
.icon-bubbles:before { content: '\e601' }
