@mixin mobile-nav {
  height: 100%;
  width: 16em;
  position: absolute;
  top: 0;
  left: -16em;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    &:first-child {
      border-top: 0 none;
    }
    &.active {
      & > a {
        background: $bg-nav-link-active;
        border-color: $bg-nav-border-link-active;
        color: $nav-link-color-active;
        text-shadow: $nav-link-text-shadow-active 0 -1px;
        &:hover {
          background: $bg-nav-link-active-hover;
          color: $nav-link-color-active-hover;
          text-shadow: $nav-link-text-shadow-active-hover 0 -1px;
        }
      }
    }
    a {
      @include border-radius(0);
      background: none;
      border: 0 none;
      padding: 9px 10px 5px;
      color: lighten($nav-link-color, 20);
      text-shadow: $nav-link-text-shadow 0 1px;
      &:hover {
        background: $bg-nav-link_hover;
        color: $nav-link-color-hover;
        text-shadow: $nav-link-text-shadow-hover 0 1px;
      }
    }
  }
  .sub {
    transition: all .8s ease-in-out;
    max-height: 0;
    background: $bg-nav-link;
    overflow: hidden;
    li {
      border-top: 1px solid rgba(255,255,255,0.3);
      &:first-child {
        border-top: 0;
      }
      a {
        display: block;
        min-height: 40px;
        background: none;
        border: 0 none;
        font: 18px/18px $swap-font;
        padding: 11px 10px 10px 40px;
        &:hover {
          @include border-radius(0);
          background: rgba(255,255,255,0.1);
          box-shadow: 0 5px 0 0 rgba(255,255,255,.1);
          color: lighten($nav-link-color, 20);
        }
      }
    }
  }
  .icon-angle-down:before {
    transform: rotate(0) scale(1,0.8);
    transition: all .3s ease-in-out;
    text-shadow: 0 0 2px rgba(0,0,0,.4);
    content: "\25BC";
    font-size: .55em;
    vertical-align: 17%;
  }
  .opened {
    .sub {
      max-height: 9999px;
    }
    .icon-angle-down:before {
      transform: rotate(-180deg) scale(1,0.8);
    }
  }
}
