{% include "breadcrumbs" %}
{% if page.headline.size > 0 and page.is_homepage? == false %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}
<div id="content">
   <div id="intro" class="intro">
      <div class="text-content">
         {{ page.basic.content }}
         <ol class="try-rcv-list">
            <li>Rank kinds of pie:<br /><br />
               <div style="position:relative;overflow:hidden;padding-top:120%;">      
                  <iframe src="https://rankit.vote/vote/BQT1rJWfqJpTN82NLsLE" style="border:1px solid #f1f1f1;position: absolute;top: 0;left: 0;width: 100%;height: 100%;" name="myiFrame" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" allowfullscreen></iframe>
               </div>
            </li>
            <li>Rank breakfast cereals:<br /><br />
               <div style="position:relative;overflow:hidden;padding-top:120%;">      
                  <iframe src="https://rankit.vote/vote/MbZ46v0lveRq0AnEg3GC" style="border:1px solid #f1f1f1;position: absolute;top: 0;left: 0;width: 100%;height: 100%;" name="myiFrame" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" allowfullscreen></iframe>
               </div>
            </li>
         </ol>
      </div>
   </div>
</div>